:root {
    --emerald-950: #022c22;
    --emerald-800: #065f46;
    --emerald-700: #065f46;
    --emerald-500: #047857;
    --emerald-300: #10b981;
    --emerald-400: #34d399;
    --emerald-50: #ecfdf5;
    --gray: gray;
}

body {
    background-color: var(--emerald-950);
    color: black;
    font-size: 2vw;
    user-select: none;

}

/* #output { */
/*     background-color: white; */
/* } */

/* main containers and nigh-global rules */
nav,
header,
footer,
article,
aside,
li,
button {
    background-color: var(--emerald-500);
    border-radius: 10px;
    border: 1px solid var(--gray);
    padding: 0.1em 0.4em;
    margin: 0.5em;

}

header,
footer {
    background-color: var(--emerald-800);
    min-height: 2em;
}

main {
    background-color: var(--emerald-700);
    display: flex;
    padding: 0 1em;
    border-radius: 15px;
    margin: 0.5em;
}

nav {
    flex: 1 1 8em;
    max-width: 8em;
}

article {
    flex: 3 3 0%;
    min-width: 50%;
}

aside {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




/* id-specific rules */
#nav-title {
    margin: 0.2rem 0;
}


#category-ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    padding: 0%;
    margin: 0.2em 0;

}

#category-ul li {

    margin-top: 0.6em;

}

#welcome-heading {
    text-align: center;
}

#button-wrapper {
    display: flex;
    flex-direction: column;
}

/* #keyboard { */
/*     margin: auto; */
/* } */


#keyboard-wrapper {
    overflow: auto;
    display: none;
    justify-content: center;
    align-items: center;

}

#question {
    text-align: center;
}


#next-task-btn,
#submit-btn {
    display: block;
    background-color: var(--emerald-700);
    border-radius: 100%;
    /* padding: 5%; */
    margin: 0 auto;
    width: 3.5em;
    height: 3.5em;

    animation-name: wheel;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#next-task-btn:hover,
#submit-btn:hover {
    background-color: gray;
}

#submit-btn {
    width: 5em;
}



#progress-container {
    background-color: red;
    width: 70%;
    height: 1.5em;
}

#green {
    background-color: green;
    height: 100%;
}

#yellow {
    background-color: yellow;
    height: 100%;
}


@keyframes wheel {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#next-task-btn>span {
    animation: colorChange 10s infinite alternate;
}

@keyframes colorChange {
    from {
        color: darkblue;
    }

    to {
        color: darkred;
    }
}


/* Usefull classes */

/* fix font size and li size, FIXME: not pretty*/
.clickable>span,
button,
li.clickable {
    font-size: 1.5vw;
}

.clickable,
button {
    cursor: pointer;
    background-color: var(--emerald-400);
    user-select: none;
}

.clickable:hover,
button:hover {
    cursor: pointer;
    background-color: gray;
    /* user-select: none; */
}

.active-category {
    background-color: gray;
}


.hidden {
    display: none;
    /* visibility: hidden; */
}

.selected {
    background-color: gray;
    border: solid black 1px;
}

@media screen and (max-width: 50em) {

    body {
        font-size: large;
    }

    main {
        flex-direction: column;
    }

    nav ul {
        display: flex;
        justify-content: space-evenly;

    }

    nav,
    aside {
        min-width: 6em;
        max-width: 100%;
    }

    .clickable>span,
    button,
    li.clickable {
        font-size: medium;
    }
}
